:root {
    --main-bg-color: #444444;
    --text-color: #EDEDED;
    --link-color: #EDEDED;
    --link-active-color: #DA0037;
    --title-color: #171717;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    margin: 0;
    font-size: 1.6rem;
    font-family: Roboto, system-ui, Helvetica, Arial, sans-serif;
    background-color: #444444;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%233b3b3b' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23323232' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23292929' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23202020' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23171717' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    color: var(--text-color);
    line-height: 1.2;
}

a {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    color: var(--link-color);
    transition: .3s color ease-in-out;
    font-weight: 700;
    &:hover {
        color: var(--link-active-color);
    }
}
  
ul {
    margin: 0;
    padding: 0;
    line-height: 2;
    list-style-position: inside;
}

h1, h2 {
    color: var(--title-color);
    margin: 0;
}

p {
    margin: 0;
}

pre {
    margin: 0;
}

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}

.header__content {
    font-weight: 700;
    font-size: 2rem;
}

.nav__list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.nav__list a {
    text-decoration: none;
    text-transform: uppercase;
    line-height: 48px;
}

.avatar {
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    object-fit: contain;
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.title {
    font-size: 4rem;
    margin-bottom: 15px;
}

.sub-title {
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.sub-title::before {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    background: url("./assets/svg/dev.svg") center / cover no-repeat;
}

.main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding-bottom: 25px;
}

.github-logo {
    width: 48px;
    height: 48px;
}

.rsschool-logo {
    height: 48px;
}